<!--><h4 *ngIf="auth.isAuthenticated()">
  You are logged in!{{title}}
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
<h1><b>Welcome to FlightApp</b></h1>
<h4>We're a high growth business with a simple aim: to inspire travellers around the world and make travel search a easy as possible through our world class technology.</h4>
<br><a class="searchflight" routerLink="/flights">Book your flight</a>-->
<app-flights></app-flights>